.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.content-image {
    width: 500px;
    height: 300px;
    min-width: 500px;
    margin-top: 15px;
    img {
        height: 300px;
        min-width: 500px;
    }
}

.content-title {
    margin-top: 15px;
}

.content-description {
    margin-top: 15px;
    p {
        color: gray;
    }
}
