
<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-primary">
    <app-big-card
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      cardDescription="
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia nulla sed dictum ultrices. Sed
        turpis
        ex, vulputate vel rutrum scelerisque, tincidunt malesuada felis. Mauris vel arcu vitae est rutrum vehicula.
        Praesent rutrum arcu urna, et viverra mi elementum quis. Fusce imperdiet, risus pellentesque ultricies
        tincidunt, sapien elit mollis felis, sed viverra erat lectus non dolor. Sed bibendum mi eu mauris
        vestibulum,
        porttitor luctus leo lacinia. Mauris lacinia rhoncus erat, a tempus augue semper in. Fusce quis augue eros.
        Donec"
      cardImage="https://img.freepik.com/free-photo/butterfly-with-bright-blue-orange-wings_188544-14466.jpg?w=2000&t=st=1708790188~exp=1708790788~hmac=f290b7bc248e496e922a12e2dc0cb24b16699851d914c2db0bf2ca16584a3adf"
    ></app-big-card>
  </div>

  <div class="articles-secondary">
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      cardDescription="
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia nulla sed dictum ultrices. Sed
        turpis
        ex, vulputate vel rutrum scelerisque, tincidunt malesuada felis. Mauris vel arcu vitae est rutrum vehicula.
        Praesent rutrum arcu urna, et viverra mi elementum quis. Fusce imperdiet, risus pellentesque ultricies
        tincidunt, sapien elit mollis felis, sed viverra erat lectus non dolor. Sed bibendum mi eu mauris
        vestibulum,
        porttitor luctus leo lacinia. Mauris lacinia rhoncus erat, a tempus augue semper in. Fusce quis augue eros.
        Donec"
      cardImage="https://img.freepik.com/free-photo/butterfly-with-bright-blue-orange-wings_188544-14466.jpg?w=2000&t=st=1708790188~exp=1708790788~hmac=f290b7bc248e496e922a12e2dc0cb24b16699851d914c2db0bf2ca16584a3adf"
    ></app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      cardDescription="
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia nulla sed dictum ultrices. Sed
        turpis
        ex, vulputate vel rutrum scelerisque, tincidunt malesuada felis. Mauris vel arcu vitae est rutrum vehicula.
        Praesent rutrum arcu urna, et viverra mi elementum quis. Fusce imperdiet, risus pellentesque ultricies
        tincidunt, sapien elit mollis felis, sed viverra erat lectus non dolor. Sed bibendum mi eu mauris
        vestibulum,
        porttitor luctus leo lacinia. Mauris lacinia rhoncus erat, a tempus augue semper in. Fusce quis augue eros.
        Donec"
      cardImage="https://img.freepik.com/free-photo/butterfly-with-bright-blue-orange-wings_188544-14466.jpg?w=2000&t=st=1708790188~exp=1708790788~hmac=f290b7bc248e496e922a12e2dc0cb24b16699851d914c2db0bf2ca16584a3adf"
    ></app-small-card>
  </div>
</div>
