/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}